---
layout: page
title: Recent Posts
description: "List of recent blog posts."
tags: [eLitmus, recent]
---


<ul class="post-list">
{% for post in site.posts limit:10 %} 
  
<li class="single-post">
	<span class="entry-date date published">
		<time datetime="{{ post.date | date_to_xmlschema }}">
			<i class="fa fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}
		</time>
	</span>
	<article>
		<header class="entry-header">
			<h3 class="entry-title-summary">
				<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a>
			</h3>
			<div>
	  		{% if post.excerpt %} 
	    		{% capture full_url %} 
	      			{{ site.url }}{{ site.baseurl }}{{ post.url }} 
	    		{% endcapture %}
	    	{{ post.excerpt | remove: '<p>' | remove: '</p>' }} 
	    
			<a href="{{ full_url }}" rel="nofollow" class="read-more pull-right"> read more &raquo;</a>
	  		{% endif %}

			</div>
		</header>
	</article>
</li>
{% endfor %}

</ul>