<div class="panel panel-default">
{% for post_author in site.data.authors %}
  {% if page.author contains post_author.id %}
    
      <div class="panel-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-sm-12 col-md-4">
              <center>
                <img src="{{ site.url }}{{ site.baseurl }}/images/{{ post_author.avatar }}" alt="{{ post_author.name }} photo" class="author-photo img-circle img-responsive"/>
                
                <span class="author vcard">
                  <span class="fn">{{ post_author.name }}</span>
                </span>

                <div class="nav-icon-size-reduce social-icons">
                  {% if post_author.twitter %}
                    <a href="http://twitter.com/{{ post_author.twitter }}"  title="{{ post_author.name }} on Twitter"  target="_blank"><i class="fa fa-twitter "></i></a>
                  {% endif %}
                  {% if post_author.facebook %}
                    <a href="http://facebook.com/{{ post_author.facebook }}"  title="{{ post_author.name }} on Facebook"  target="_blank"><i class="fa fa-facebook "></i></a>
                  {% endif %}
                  
                  {% if post_author.google_plus %}
                    <a href="{{ post_author.google_plus }}" title="{{ post_author.name}} on Google+" target="_blank"><i class="fa fa-google-plus "></i></a>
                  {% endif %}

                  {% if post_author.linkedin %}
                    <a href="http://linkedin.com/in/{{ post_author.linkedin }}" title="{{ post_author.name}} on LinkedIn" target="_blank"><i class="fa fa-linkedin "></i></a>
                  {% endif %}

                  {% if post_author.stackexchange %}
                    <a href="{{ post_author.stackexchange }}" title="{{ post_author.name}} on StackExchange" target="_blank"><i class="fa fa-stack-overflow "></i></a>
                  {% endif %}

                  {% if post_author.instagram %}
                    <a href="http://instagram.com/{{ post_author.instagram }}" title="{{ post_author.name}} on Instagram" target="_blank"><i class="fa fa-instagram "></i></a>
                  {% endif %}

                  {% if post_author.flickr %}
                    <a href="http://www.flickr.com/photos/{{ post_author.flickr }}" title="{{ post_author.name}} on Flickr" target="_blank"><i class="fa fa-flickr "></i></a>
                  {% endif %}

                  {% if post_author.github %}
                    <a href="http://github.com/{{ post_author.github }}" title="{{ post_author.name}} on Github" target="_blank"><i class="fa fa-github "></i></a>
                  {% endif %}

                  {% if post_author.tumblr %}
                    <a href="http://{{ post_author.tumblr }}.tumblr.com" title="{{ post_author.name}} on Tumblr" target="_blank"><i class="fa fa-tumblr "></i></a>
                  {% endif %}   
                </div><!-- /.social-icons -->
              </center>
            </div>

            <div class="col-sm-12 col-md-8">
              {% if post_author.bio %}
                <span class="author-bio">{{ post_author.bio}}</span>
              {% endif %}
            </div>

          </div>

        </div>
      </div>

  {% endif %}
{% endfor %}
</div>