<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>

<div class="social-icons">
	{% for post_author in site.data.authors %}
		{% if post_author.id == page.author %}
			{% if post_author.twitter %}
				<a href="http://twitter.com/{{ post_author.twitter }}"  title="{{ post_author.name }} on Twitter"  target="_blank"><i class="icon-twitter icon-2x"></i></a>
			{% endif %}
			{% if post_author.facebook %}
				<a href="http://facebook.com/{{ post_author.facebook }}"  title="{{ post_author.name }} on Facebook"  target="_blank"><i class="icon-facebook icon-2x"></i></a>
			{% endif %}
			
			{% if post_author.google_plus %}
				<a href="{{ post_author.google_plus }}" title="{{ post_author.name}} on Google+" target="_blank"><i class="icon-google-plus icon-2x"></i></a>
			{% endif %}

			{% if post_author.linkedin %}
				<a href="http://linkedin.com/in/{{ post_author.linkedin }}" title="{{ post_author.name}} on LinkedIn" target="_blank"><i class="icon-linkedin icon-2x"></i></a>
			{% endif %}

			{% if post_author.stackexchange %}
				<a href="{{ post_author.stackexchange }}" title="{{ post_author.name}} on StackExchange" target="_blank"><i class="icon-stackexchange icon-2x"></i></a>
			{% endif %}

			{% if post_author.instagram %}
				<a href="http://instagram.com/{{ post_author.instagram }}" title="{{ post_author.name}} on Instagram" target="_blank"><i class="icon-instagram icon-2x"></i></a>
			{% endif %}

			{% if post_author.flickr %}
				<a href="http://www.flickr.com/photos/{{ post_author.flickr }}" title="{{ post_author.name}} on Flickr" target="_blank"><i class="icon-flickr icon-2x"></i></a>
			{% endif %}

			{% if post_author.github %}
				<a href="http://github.com/{{ post_author.github }}" title="{{ post_author.name}} on Github" target="_blank"><i class="icon-github icon-2x"></i></a>
			{% endif %}

			{% if post_author.tumblr %}
				<a href="http://{{ post_author.tumblr }}.tumblr.com" title="{{ post_author.name}} on Tumblr" target="_blank"><i class="icon-tumblr icon-2x"></i></a>
			{% endif %}		
		{% endif %}
	{% endfor %}
</div><!-- /.social-icons -->