<meta property="og:locale" content="en_US">
<meta property="og:image" content="{{site.url}}{{ site.baseurl }}/images/{{site.logo}}"/>
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.tldr %}{{ page.tldr }}{% else %}{{ page.excerpt }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

<meta property="og:site_name" content="{{ site.title }}">