
{% capture category_count %} {{ site.categories | size }}* {% endcapture %}

{% assign count = category_count | plus: 0 %}
{% if  count > 1 %}

<div class="fixed-sidebar mx-auto">
	
	<ul class="sidebar-category list-group mx-auto">
		<li class="categories-heading list-group-item list-group-item-dark">
			<span class="fa fa-th-list"></span> Categories
		</li>
	  {% for category in site.categories %}
	  	<li class="list-group-item list-group-item-action"> 
	  		<a name="{{ category | first | capitalize }}" href="{{ site.url }}{{ site.baseurl }}/categories/{{ category | first }}/">  {{ category | first | capitalize }} </a>
	  	</li>
	  {% endfor %}
	</ul>
</div>

{% endif %}
