
{% capture category_count %} {{ site.categories | size }}* {% endcapture %}

{% assign count = category_count | plus: 0 %}
{% if  count > 1 %}
	<div class="row sidebar-padding">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<a href="#" class="categories-heading "><i class="fa fa-th-list"></i> Categories </a> 

			<ul class=" sidebar-category">
			  {% for category in site.categories %}
			  	<li> 
			  		<a name="{{ category | first | capitalize }}" href="{{ site.url }}{{ site.baseurl }}/{{ category | first }}.html" >  {{ category | first | capitalize }} </a>
			  	</li>
			  {% endfor %}
			</ul>
		</div>
		<div class="col-md-2">
		</div>
	</div>
{% endif %}
