<div class=' social-sharing pull-right'>        
  {% if page.share %}
    <span class="social-share-facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url_for_sitemaps }}/{{ site.baseurl }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook-square fa-lg"></i> Like</a>
    </span>&nbsp;&nbsp;
    <span class="social-share-twitter">
       <a href="https://twitter.com/share?hashtags={{ page.categories | join: ',' }}&text={{ page.title }}&via={{site.owner.twitter}}" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter-square  fa-lg"></i></i> Tweet</a>
    </span>&nbsp;&nbsp;
  {% endif %}   
</div>