{% if site.show_job %}
   {% if page.url != '/job_post.html' %}
  <div class="forkit-curtain">
<div class="close-button"><button class='btn btn-warning' >Back to Blog </button></div>
  <iframe src="{{site.url}}{{ site.baseurl }}/job_post.html" width="100%" height="100%"></iframe>
</div>
  <a class="forkit" data-text="We are hiring!" data-text-detached="Drag down >" href="https://www.elitmus.com/jobs/31753-elitmus-evaluation-software-developer-bangalore"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="We are hiring!"></a>

  {% endif %}
 {% endif %}