@media (min-width: 767.99px) and (max-width: 1000px) { 
	.fixed-sidebar {
		width: 90%;
		margin: 50px 10px -40px;
	}

	.entry-header {
		padding-top: 20px;
		width: 576px;
	}
}

.container-fluid {
	max-width: 1400px;
	margin: 0 auto;
}

.navbar-brand
{
	vertical-align: middle;
}

.navbar {
	min-height: 3rem;
}

.entry {
	min-height: 85vh;
}

.post-content-justify {
	text-align: justify;
}

/* setting the width of dropdown for search*/

.social-sharing {
	line-height: 100%;
}

.nav-icon-size-reduce {
	font-size: 14px;
}

.headroom--pinned {
	display: block;
}

.headroom--unpinned {
	display: none;
}

.marginal {
	padding: 0px 10px 0px 10px;
}

.no-padding,
.entry-title-summary {
	margin-top: 4px;
	margin-bottom: 4px;
}

.search-results,
.date-show,
.entry-date {
	font-size: 90%;
	max-width: 100%;
	white-space: normal;
}

.highlightText {
	color: red;
}

.sidebar-category > li {
	min-width: 100%;
	font-size: 16px;
}

.form-control {
	width: 10px;
}

.input-group-btn > .btn {
	font-size: 16px;
}

/*.insertCategory {
  width: 120px;
}*/

.categories-heading {
	font-weight: bold;
	font-size: 16px;
}

.fa-circle {
	font-size: 50%;
	vertical-align: middle;
}

.showPrevNex {
	display: none;
}

.back-trace-div {
	color: #C7C7C7;
	background: #222;
	line-height: 1.4em;
	font-size: 13px;
	padding: 2px 8px;
	vertical-align: top;
	white-space: nowrap;
	border-top: none;
	width: 100%;
	margin: 0;
	text-align: left;
	border: 0;
	outline: 0;
}

.back-trace-row {
	color: #aaa;
	font-size: 113%;
}

.custom-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 60%;
	font-size: 16px;
}

.custom-t {
	text-align: left;
	padding: 8px;
}

footer {
	background-color: #333;
}

.img-logo {
	height: 50px;
}

.list-group {
	margin-top: 10px;
	width: 100%;
}

.list-group-item {
	margin-top: 2px;
	padding: 7px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

.sidebar-padding {
	padding: auto;
	padding-top: 10px;
}

/* shodow effects only for screen width of 1000px or more */

@media (min-width: 1000px) {

	.single-post {
		border: 12px white solid;
		margin: 16px;
		border-radius: 8px;
		box-shadow: 1px 1px 16px rgba(50, 50, 50, 0.6);
	}

	.single-post:hover {
		border: 12px white solid;
		margin: 16px;
		border-radius: 8px;
		box-shadow: 1px 1px 8px rgba(50, 50, 50, 0.2);
		transition: all 0.5s ease;
	}
}

.bg-black {
	background: #2d2727;
}




/* ---------- old code ------------ */
/*
span + .entry-title {
    max-width: 800px;
    font-size: 3.25rem;
    font-family: 'Open Sans',serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
}

.entry-title {
  font-style: normal;
}

.entry-title-summary {
    max-width: 800px;
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
}

*/