.list-group,
.fixed-sidebar,
.list-group-item {
	text-align: left;
}


/* for screens less than 768px */
@media only screen and (max-width: 767.9px) {
	.list-group {
		display: inline;
	}
	.list-group-item {
		display: inline;
	}
	.fixed-sidebar {
		text-align: center;
	}

	.fa,
	.fa-th-list {
		display: none;
	}

	.category {
		display: inline-block;
	    padding: 4px;
	    font-size: 80%;
	    font-weight: 600;
	    line-height: 1;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: baseline;
	    border-radius: .25rem;
	    background: #eee;
	}
}

/* for screens more than 932px */
@media only screen and (min-width: 932px) {
	.fixed-sidebar {
		max-width: 200px;
	}
}

.navbar-toggler-icon {
	height: 20px;
	width: 20px;
	border: 0;
}

.blog-label {
	display: inline-block;
	padding-left: 5px;
	text-shadow: none;
	line-height: -2px;
	text-align: center;
	white-space: nowrap;
	color: white;
}

.entry-header {
	padding-top: 10px;
}

.container-fluid {
	max-width: 1400px;
	margin: 0 auto;
}

.navbar {
	padding: 0 12px;
}

.navbar-brand
{
	vertical-align: middle;
	padding-left: 2px;
	padding-bottom: 5px;
	margin-right: 30px;
}

.navbar {
	min-height: 50px;
}

.entry {
	min-height: 85vh;
	margin-top: 50px;
}

.post-content-justify {
	text-align: justify;
}

.social-sharing {
	line-height: 100%;
}

.nav-icon-size-reduce {
	font-size: 14px;
}

.nav-item {
	padding: 4px;
}

.headroom--pinned {
	display: block;
}

.headroom--unpinned {
	display: none;
}

.marginal {
	padding: 0px 10px 0px 10px;
}

.no-padding,
.entry-title-summary {
	margin-top: 4px;
	margin-bottom: 4px;
}

.date-show,
.entry-date {
	font-size: 90%;
	max-width: 100%;
	white-space: normal;
}

.highlightText {
	color: red;
}

.sidebar-category > li {
	min-width: 100%;
	font-size: 16px;
}

.form-control {
	width: 10px;
}

.input-group-btn > .btn {
	font-size: 16px;
}

.categories-heading {
	font-weight: bold;
	font-size: 16px;
}

.fa-circle {
	font-size: 50%;
	vertical-align: middle;
}

.showPrevNex {
	display: none;
}

.back-trace-div {
	color: #C7C7C7;
	background: #222;
	line-height: 1.4em;
	font-size: 13px;
	padding: 2px 8px;
	vertical-align: top;
	white-space: nowrap;
	border-top: none;
	width: 100%;
	margin: 0;
	text-align: left;
	border: 0;
	outline: 0;
}

.back-trace-row {
	color: #aaa;
	font-size: 113%;
}

.custom-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 60%;
	font-size: 16px;
}

.custom-t {
	text-align: left;
	padding: 8px;
}

footer {
	border-top: 2px solid #ccc;
	background-color: #fff;
}

.footer-text {
	color: #222;
	font-size: 12px;
	line-height: 30px;
}

.img-logo {
	height: 28px;
	padding-bottom: 2px;
	margin: 0;
}

.list-group {
	margin-top: 10px;
	width: 100%;
	box-shadow: none;
}

.list-group-item {
	margin-top: 2px;
	padding: 5px;
	border: 0;
}

.list-group-item-text {
	padding: 5px;
}

.sidebar-padding {
	padding: auto;
	padding-top: 10px;
}

.bg-black {
	background: #2d2727;
}

.pager {
	width: 100%;
}

.search-results {
	padding: 8px;
}

.search-box {
	min-width: 200px;
}


/* ---------- old code ------------ */
/*
span + .entry-title {
    max-width: 800px;
    font-size: 3.25rem;
    font-family: 'Open Sans',serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
}

.entry-title {
  font-style: normal;
}

.entry-title-summary {
    max-width: 800px;
    font-family: 'Open Sans',serif;
    font-style: normal;
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
}

*/